# EditorConfig is awesome: http://EditorConfig.org

# Top-most configuration file
root = true

# Default style
[*]
indent_style = space
indent_size = 4
insert_final_newline = true

# Markdown files
[.{md,markdown,mdown}]
trim_trailing_whitespace = false
insert_final_newline = false

# XML project files
[*.{csproj,proj,props,targets,tasks}]
indent_style = space
indent_size = 2
insert_final_newline = false

# XML resource files
[*.{resx}]
indent_style = space
indent_size = 2
insert_final_newline = false

# XML configuration files
[*.{config,nuspec}]
indent_style = space
indent_size = 2
insert_final_newline = false

# XML markup files
[*.{xml,xaml}]
indent_style = space
indent_size = 2
insert_final_newline = false

# Visual Studio extension files
[*.{vsixlangpack,vsixmanifest}]
indent_style = space
indent_size = 2
insert_final_newline = false
