#===============================================================================
# Diff Behavior
#===============================================================================
# Default
* text=auto encoding=UTF-8

# Source Files
*.cs text diff=csharp
