#===============================================================================
# Default Behavior
#===============================================================================
* text=auto encoding=UTF-8

#===============================================================================
# Command-Line Diff
#===============================================================================
*.cs diff=csharp text
