#===============================================================================
# Binaries
#===============================================================================
[Bb]in[aries]/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

#===============================================================================
# Workspace
#===============================================================================
# Visual Studio
.vs/
*.sln.ide/
*.sln.docstates
*.suo
*.user

# NuGet
**/packages/*
**/pkg/*
!**/packages/build/
!**/pkg/build/
*.nupkg
[Nn]u[Gg]et.exe

#===============================================================================
# System
#===============================================================================
# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Mac
.DS_Store
